html {
    font-family: sans-serif;
    font-size: 16px;
}

.flex-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-row > div {
    margin: 5px;
    padding: 2px;
}

#imagenLogo {
    width: 100px;
}

#MensajesChat {
   width: 70%;
   margin-top: 50px;
   height: 200px;
   background-color: gainsboro;
   border: 3px solid blue;
   overflow: scroll;
}

#textoMensajes {
    height: 50px;
    width: 500px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}

.botonIniciar {
    border: none;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid darkblue;
}

.botonCerrar {
    border: none;
    padding: 10px;
    background-color: mediumspringgreen;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid darkblue;
}

.nombre-Usuario {
    color: rebeccapurple;
}

.mensajesChat {
    font-weight: bold;
    color: black;
}